@model Farmbook.Models.login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>FARMBOOK - ForgotPassword</title>
    <link rel="shortcut icon" href="~/Content/img/logo/farmbook-logo.png" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-info">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <img class="col-lg-6 d-none d-lg-block" src="~/Content/img/14.jpg">
                            <div class="col-lg-6 align-self-center">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">คุณลืมรหัสผ่าน?</h1>
                                        <p class="mb-4 text-gray-500">
                                            โปรดใส่ Email ของคุณเพื่อตั้งค่ารหัสผ่านใหม่
                                        </p>
                                    </div>
                                    @using (Html.BeginForm("ForgotPassword", "Account"))
                                    {
                                        <form class="user">
                                            <div class="form-group">
                                                @Html.LabelFor(a => a.email)
                                                @Html.TextBoxFor(a => a.email, new { @class = "form-control", required = "required" })
                                                @*<input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">*@
                                            </div>
                                            <input type="submit" value="Reset Password" class="btn btn-success btn-user btn-block" />
                                            @*<a href="~/Views/Account/Login.cshtml" class="btn btn-primary btn-user btn-block"> Reset Password</a>*@
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            @Html.ActionLink("สมัครสมาชิกใหม่", "Register", "Account")
                                        </div>
                                        <div class="text-center">
                                            @Html.ActionLink("ลงชื่อเข้าใช้", "Login", "Account")
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
</html>
